<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Conference Reservation System</title>
<link rel="stylesheet" type="text/css" href="../static/css/about.css"/>
</head>
<body>

<div class="auto-box">
	<div class="main-box">
		<div class="index-tit">
			<h1>比线下会议更快捷，方便</h1>
			<p>时间是宝贵的，我们立志于要将时间花在需要的地方，拒绝做无用工</p>
		</div>
		<ul class="index-tserver">
			<li class="tserver-list1">
				快捷
				<p class="animated zoomin">
					<a href="#">快速预约会议室，拒绝等待，一键预约进入现实</a>
				</p>
			</li>
			<li class="tserver-list2">
				透明
				<p class="animated zoomin">
					<a href="#">预约信息透明化，谁预约了，什么会议室，什么时间段，全部清楚明了</a>
				</p>
			</li>
			<li class="tserver-list3">
				实时
				<p class="animated zoomin">
					<a href="#">所有的会议室预约均为实时现实，不会出现冲突</a>
				</p>
			</li>
			<li class="tserver-list4">
				方便
				<p class="animated zoomin">
					<a href="#">方便，快捷，打开网页，直接预约</a>
				</p>
			</li>
			<li class="tserver-list5">
				简单
				<p class="animated zoomin">
					<a href="#">预约流程简单，通俗易懂，不需要过多的了解</a>
				</p>
			</li>
			<li class="tserver-list6">
				易于操作
				<p class="animated zoomin">
					<a href="#">操作简单，实现最大化的利用时间</a>
				</p>
			</li>
			<li class="tserver-list7">
				QQ加持
				<p class="animated zoomin">
					<a href="#">内置QQ端口，紧急情况也能尽快的去沟通解决</a>
				</p>
			</li>
		</ul>
	</div>
</div>


</body>
</html>